*{margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;}

span{color: tomato;}

h2{ font-size: 45px;
    font-weight: 800;}

nav{ display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;}

nav>ul{display: flex;
    align-items: center;}

nav li{ list-style: none;
    margin-right: 50px;}

nav a { text-decoration: none;}

.btn-1{
    border: 0;
    font-size: 20px;
    font-weight: 700;
    background: tomato;
    border-radius: 5px;
    color: white;
    padding: 15px;
}
.header{ background: #FFF8F3;}
.banner{ padding: 30px 30px 30px 150px;
        display: flex;
        align-items: center;}

.pro-pic{ width: 400px;}

